# Ignore Python files
__pycache__/
*.pyc

# Ignore Node.js stuff
node_modules/
dist/

# Ignore environment files
.env

# Ignore macOS system files
.DS_Store

# Ignore logs
*.log

# Ignore venv
venv/

# Ignore dump project.sh
dump_project.sh

# Audio files
*.wav
backend/app/*.wav
backend/app/lecture.wav